.SearchableTable {
    height: 500px;
    display: flex;
    overflow: scroll;
}

.SearchableTableBody {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 500px;
}
.SearchableTableRow {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

